* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 30px 60px;
}
.cabecalho h1{
    animation: movimentar 3s;
}

.cabecalho ul {
    display: flex;
    gap: 20px;
}

.cabecalho ul li a {
    color: #fff;
}
.cabecalho nav ul li .selected{
    background: #fff;
    color: #333;
}

.cabecalho .menu {
    display: none;
}   

.main {
    padding: 30px 60px;
}

.btn:hover {
    background: #444;
}


.rodape {
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .cabecalho nav {
        display: none;
    }
    .cabecalho .menu{
        display: flex;
    }
    
}
.cabecalho ul li a:hover{
    color: #444;
    transition: 0.5s;
   }
   

@media screen and (max-width: 650px) {
   .main{
    padding: 10px;
   }
}

@keyframes balada{
    0% {
        color: green;
    }
    50% {
        color: white;
    }
    100%{
        color: blue;
        }
}
  
@keyframes movimentar{
    0%{
    transform: translate(-300px);
    
    }
    100%{
    transform: translate(0);
    }
}